In [12]:
from  sqlalchemy import create_engine

import pandas as pd

In [13]:
data = pd.read_parquet('/home/pscore/Documents/Data_Engineering/2_DOCKER_SQL/yellow_tripdata_2021-01.parquet')

In [7]:
engine  = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(data,name='Yellow_taxi',con=engine))

CREATE TABLE "Yellow_taxi" (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [47]:
%time data.iloc[:10000].to_sql(name='yellow_taxi',con=engine,if_exists='replace')

CPU times: user 874 ms, sys: 38.1 ms, total: 912 ms
Wall time: 3.31 s

1000

In [42]:
from time import time

In [48]:
initial =10000
count = 20000
while count<len(data):
    t_start = time()
    data.iloc[initial:count].to_sql(name='yellow_taxi',con=engine,if_exists='append')
    t_end = time()
    print(f"Inserted {count-initial} entries in {round(t_end-t_start,3)}")
    initial = count
    count =count+10000

Inserted 10000 entries in 2.09
Inserted 10000 entries in 2.121
Inserted 10000 entries in 2.502
Inserted 10000 entries in 2.621
Inserted 10000 entries in 2.207
Inserted 10000 entries in 2.289
Inserted 10000 entries in 1.836
Inserted 10000 entries in 2.424
Inserted 10000 entries in 2.791
Inserted 10000 entries in 2.529
Inserted 10000 entries in 2.381
Inserted 10000 entries in 3.528
Inserted 10000 entries in 7.626
Inserted 10000 entries in 3.133
Inserted 10000 entries in 2.284
Inserted 10000 entries in 2.116
Inserted 10000 entries in 2.037
Inserted 10000 entries in 2.062
Inserted 10000 entries in 2.276
Inserted 10000 entries in 2.371
Inserted 10000 entries in 1.98
Inserted 10000 entries in 2.078
Inserted 10000 entries in 3.332
Inserted 10000 entries in 2.472
Inserted 10000 entries in 2.534
Inserted 10000 entries in 2.126
Inserted 10000 entries in 2.341
Inserted 10000 entries in 3.995
Inserted 10000 entries in 3.774
Inserted 10000 entries in 3.263
Inserted 10000 entries in 2.214
Inserted 10000 entries in 1.829
Inserted 10000 entries in 2.376
Inserted 10000 entries in 2.339
Inserted 10000 entries in 2.043
Inserted 10000 entries in 1.958
Inserted 10000 entries in 2.138
Inserted 10000 entries in 2.022
Inserted 10000 entries in 2.345
Inserted 10000 entries in 2.029
Inserted 10000 entries in 1.83
Inserted 10000 entries in 1.916
Inserted 10000 entries in 1.981
Inserted 10000 entries in 1.827
Inserted 10000 entries in 2.059
Inserted 10000 entries in 2.364
Inserted 10000 entries in 2.299
Inserted 10000 entries in 2.212
Inserted 10000 entries in 1.969
Inserted 10000 entries in 2.108
Inserted 10000 entries in 2.112
Inserted 10000 entries in 2.261
Inserted 10000 entries in 2.299
Inserted 10000 entries in 2.112
Inserted 10000 entries in 2.039
Inserted 10000 entries in 2.029
Inserted 10000 entries in 2.93
Inserted 10000 entries in 3.245
Inserted 10000 entries in 2.889
Inserted 10000 entries in 2.075
Inserted 10000 entries in 2.455
Inserted 10000 entries in 2.425
Inserted 10000 entries in 2.362
Inserted 10000 entries in 2.157
Inserted 10000 entries in 1.836
Inserted 10000 entries in 1.942
Inserted 10000 entries in 2.168
Inserted 10000 entries in 2.115
Inserted 10000 entries in 2.137
Inserted 10000 entries in 1.968
Inserted 10000 entries in 1.744
Inserted 10000 entries in 2.367
Inserted 10000 entries in 1.751
Inserted 10000 entries in 2.04
Inserted 10000 entries in 2.288
Inserted 10000 entries in 2.135
Inserted 10000 entries in 1.946
Inserted 10000 entries in 2.126
Inserted 10000 entries in 2.134
Inserted 10000 entries in 1.927
Inserted 10000 entries in 2.768
Inserted 10000 entries in 2.142
Inserted 10000 entries in 1.961
Inserted 10000 entries in 2.271
Inserted 10000 entries in 2.061
Inserted 10000 entries in 2.183
Inserted 10000 entries in 2.531
Inserted 10000 entries in 2.21
Inserted 10000 entries in 1.813
Inserted 10000 entries in 1.951
Inserted 10000 entries in 1.979
Inserted 10000 entries in 2.569
Inserted 10000 entries in 2.239
Inserted 10000 entries in 2.158
Inserted 10000 entries in 2.132
Inserted 10000 entries in 2.217
Inserted 10000 entries in 2.089
Inserted 10000 entries in 2.07
Inserted 10000 entries in 2.315
Inserted 10000 entries in 1.924
Inserted 10000 entries in 2.29
Inserted 10000 entries in 2.062
Inserted 10000 entries in 2.357
Inserted 10000 entries in 2.002
Inserted 10000 entries in 1.864
Inserted 10000 entries in 2.315
Inserted 10000 entries in 1.81
Inserted 10000 entries in 5.709
Inserted 10000 entries in 2.351
Inserted 10000 entries in 2.363
Inserted 10000 entries in 2.251
Inserted 10000 entries in 1.901
Inserted 10000 entries in 1.86
Inserted 10000 entries in 1.862
Inserted 10000 entries in 2.099
Inserted 10000 entries in 2.775
Inserted 10000 entries in 2.406
Inserted 10000 entries in 2.005
Inserted 10000 entries in 2.112
Inserted 10000 entries in 1.693
Inserted 10000 entries in 2.002
Inserted 10000 entries in 2.16
Inserted 10000 entries in 2.148
Inserted 10000 entries in 1.739
Inserted 10000 entries in 1.951
Inserted 10000 entries in 1.751
Inserted 10000 entries in 2.233
Inserted 10000 entries in 1.91
Inserted 10000 entries in 2.326
Inserted 10000 entries in 1.894
Inserted 10000 entries in 1.988
Inserted 10000 entries in 2.73
Inserted 10000 entries in 2.093
Inserted 10000 entries in 1.877
Inserted 10000 entries in 3.502

1360000

In [56]:
# count = len(data)-(count-10000)
data.iloc[initial:].to_sql(name='yellow_taxi',con=engine,if_exists='append')

769

In [46]:
count

9769

In [36]:
for i in data.itertuples():
    print(i)
    break

Pandas(Index=0, VendorID=1, tpep_pickup_datetime=Timestamp('2021-01-01 00:30:10'), tpep_dropoff_datetime=Timestamp('2021-01-01 00:36:12'), passenger_count=1.0, trip_distance=2.1, RatecodeID=1.0, store_and_fwd_flag='N', PULocationID=142, DOLocationID=43, payment_type=2, fare_amount=8.0, extra=3.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=11.8, congestion_surcharge=2.5, airport_fee=nan)

In [39]:
i[1]

1